* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider-container {
    /* margin: auto; */
    height: 80%;
    width: 60%;
    max-width: 800px;
    max-height: 400px;
    background-color: antiquewhite;

    position: relative;
}

.slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: none;
}

/* If change class name (also into js), it break 'eleThumb' append  */

/* Work */
/* .thumbanils-container {
    background-color: salmon;
    max-width: 150px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
} */

/* don't work */
.thumbnails-container {
    background-color: salmon;
    max-width: 150px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.thumbanil-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    filter: brightness(0.4);
}

.up, .down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: white;
}

.up {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 20;
}

.down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 20;
}

.up:hover, .down:hover {
    background-color: lightcoral;
    cursor: pointer;
}

.active {
    display: block;
}

.active-thumb {
    filter: brightness(1);
}

.btn-start-reverse-container {
    position:absolute;
    left: 45%;
    top: 70%;
}